# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Editor directories
.vscode/
.idea/

# MacOS
.DS_Store

# Environment files
.env
